<div class="modal__backdrop"></div>

<div class="modal__container">
    <div class="film__image">
    
    <img class="image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="Movie Poster"/>
    </div>


    <div class="film__information">
        <div>
            <h2 class="film__title">{{this.title}}</h2>
            <ul>
                <li class="film__item" data-movie-id={{id}}>
                    <p class="film__details ">Vote / Votes</p>
                    <p class="film__info--uper">
                        <span class=" film__rating--orange">{{this.vote_average}}</span>
                        <span class="film__rating--divider"> / </span>
                        <span>{{this.vote_count}}</span>
                    </p>
                </li>
                <li class="film__item">
                    <p class="film__details">Popularity</p>
                    <p class="film__info--uper">{{this.popularity}}</p>
                </li>
                <li class="film__item">
                    <p class="film__details">Original title</p>
                    <p>{{this.original_title}}</p>
                </li>
                <li class="film__item">
                    <p class="film__details">Genre</p>
                    
                    <p class="film__info">{{this.genres}}</p>
                   
                </li>
            </ul>
        </div>
        <div>
            <h3 class="film__about__title">About</h3>
            <p class="film__about__text">
                {{this.overview}}
            </p>
        </div>
        <div class="film__button__wrapper flip-2-hor-top-1 ">
            <button type="button" class="film__button btn-controls btn__watch animate__animated animate__flipInX " data-movie-id="{{this.id}}">Add to watched</button>
            <button type="button" class=" film__button btn-controls btn__queue animate__animated animate__flipInX" data-movie-id="{{this.id}}">Add to queue</button>
        </div>
        <button type="button" class="close__button animate__animated animate__flipInX" data-action="close-modal"></button>
    </div>
</div>